<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
{% schema %}
  {
    "name": "Swiper Slider",
	"tag": "section",
  	"class": "section",
	"settings": [
	],
	"presets": [
     {
		"category": "Slider",
        "name": "Swiper Slider"
     }
    ]
  }
{% endschema %}

{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
